@{
    Layout = "_Layout";
    ViewData["Title"] = "Signin"; 
}
<div class="row">
    <div class="col-12 p-3">
        @if(ViewBag.Invalid!=null) {
            <div class="alert alert-dismissible alert-primary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Error!</h4>
                <p class="mb-0">@ViewBag.Invalid</p>
            </div>
        }
        <h1>Sign in</h1>
        <div class="card border-secondary mt-3" style="max-width: 508px">
            <div class="card-body">
                <form asp-controller="Home" asp-action="SubmitSignin" method="POST">
                    <div class="form-group row pl-3">
                        <label>Email: </label>
                        <input class="form-control ml-3" type="text" name="email" />
                    </div>
                    <div class="form-group row pl-3">
                        <label>Password: </label>
                        <input class="form-control ml-3" type="password" name="password" />
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
